
.card-img-top {
  transition: 0.5;
}
.card-img-top:hover {
  transform: scale(1.1);
}


.img-fluid {
  transition: 0.5;
}
.img-fluid:hover {
  transform: scale(1.1);
}


.brand {
  transition: 0.5;
}
.brand:hover {
  transform: scale(1.1);
}


.linkk {
  transition: 0.5;
}
.linkk:hover {
  transform: scale(1.1);
} 


.px-4 {
  transition: 0.5; 
}
  
.px-4:hover {
  transform: scale(1.1);
} 


